<app-loading *ngIf="loadingArtist"></app-loading>

<div class="row">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail" alt="artist.name">
    </div>

    <div class="col">
        <h3> {{ artist.name }} </h3>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank" rel="noopener noreferrer">
                Ir a la página del artista
            </a>
        </p>
    </div>

    <div class="col-4 text-right">
        <button class="btn btn-outline-danger" [routerLink]="['/search']">
            Regresar
        </button>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <table class="table">
          <thead>
              <tr>
                  <th>Foto</th>
                  <th>Album</th>
                  <th>Canción</th>
                  <th>Vista Previa</th>
              </tr>
          </thead>  

          <tbody *ngFor="let topTrack of topTracks">
              <tr>
                  <td>
                    <img [src]="topTrack.album.images | noimage" alt="topTrack.album.name" class="img-thumb">
                  </td>
                  <td>{{ topTrack.album.name }}</td>
                  <td>{{ topTrack.name }}</td>
                  <td>
                      <audio [src]="topTrack.preview_url" controls></audio>
                  </td>
              </tr>
          </tbody>
        </table>
    </div>
</div>
